---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
---
BasedOnStyle: WebKit

IndentWidth: 4
---
Language: Cpp
# Force pointers to the name for C++.
DerivePointerAlignment: false
PointerAlignment: Right

IncludeCategories:
  - Regex:     '^"(\.\./)*[a-zA-Z]+lib\.h"$'
    Priority:  -1

IndentPPDirectives: AfterHash