#include "resources.h"

#ifdef MADGINE_LAUNCHER_SPLASH_IMAGE
    MADGINE_LAUNCHER_SPLASH_IMAGE BITMAP "${MADGINE_LAUNCHER_SPLASH_IMAGE}"
#endif

#ifdef MADGINE_LAUNCHER_ICON
    MADGINE_LAUNCHER_ICON ICON "${MADGINE_LAUNCHER_ICON}"
#endif
